body {
	font-family: "Arial", sans-serif;
	margin: 5px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}


header {
	background-color: #64E6BE;
	overflow: auto;
	border: solid 5px #343A40;
	border-radius: 5px;
}

.buttonsSentLeft {
	float: left;
}

.contactAnchors {
	list-style-type: none;
 }

.email {
	text-decoration: none;
	font-family: "Courier New", serif;
	color: #343A40;
}

.email:hover {
	text-decoration-line: underline;
	font-family: "Courier New", serif;
	color: #343A40;
}

.number {
	text-decoration: none;
	font-family: "Courier New", serif;
	color: #343A40;
}

.number:hover {
	text-decoration-line: underline;
	font-family: "Courier New", serif;
	color: #343A40;
	
}

.socialMediaButtons {
	margin-left: 39px;
	margin-bottom: 15px;
}


.fa-LinkedIn {
  background: #007bb5;
  color: #FFFFFF;
}
  
.fa-Instagram {
  background: #125688;
  color: #FFFFFF;
}

.fa-Twitter {
  background: #55ACEE;
  color: #FFFFFF;
}


.myName {
	font-family: "Courier New", serif;
	color: #343A40;
	float: right;
	margin-right: 39px;
	margin-top: 55px;
}

/* #16AABF -blue