body {
	font-family: "Courier New", serif;
	margin: auto;
	width: 95%;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: #AEB0B2;
}

header {
	background-color: #64E6BE;
	overflow: auto;
	border: solid 5px #343A40;
	border-radius: 5px;
	margin: 10px;
	min-width: 500px;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
}

.buttonsSentLeft {
	float: left;
}

.contactAnchors {
	list-style-type: none;
	padding: 0;
}

.contactAnchorsStyling {
	font-weight: 900;
	text-decoration: none;
	font-family: "Courier New", serif;
	color: #343A40;
 }
 
.contactAnchorsStyling:hover {
 	text-decoration-line: underline;
 	/*text-shadow: 1px 1px;*/
 	font-family: "Courier New", serif;
 	color: #343A40;
	cursor: pointer;
}

.socialMediaButtons {
	font-size: 25px;
	margin-bottom: 15px;
	color: #343A40;
}

.socialMediaButtons:hover {
	color: #CCCCCC;
	cursor: pointer;
}

.myName {
	font-family: "Courier New", serif;
	color: #343A40;
	float: right;
	margin-top: 55px;
}

.paragraphs {
	display: flex;
}

h2 {
	text-align: right;
	padding-top: 20px;
	color: #000000;
}

.aboutMeContent {
	margin: 10px;
	flex-direction: row;
}

.aboutMeText {
	font-family: "Arial", sans-serif;
	background-color: #16AABF;
	color: #000000;
	overflow: auto;
	border: solid 5px #343A40;
	border-radius: 5px;
	padding: 20px 25px;
	text-align: justify;
}
	
/* 
#16AABF -blue
#097285 -darkerblue
#097F5C -darkgreen
#495057 -darkgrey
*/