body {
	font-family: "Courier New", serif;
	background: linear-gradient(#F3E9DF,  #E2DAD0);
	margin: 0;
}

.mainContainer {
	margin: auto;
	width: 100%;
	max-width: 1600px;
}

.backgroundImage {
	background: url(screenshots/mainBackground.jpeg) left top;
	background-repeat: no-repeat;
	position: fixed;
	padding: 30em 14em;
	z-index: -1;
}

header {
	overflow: auto;
	border-bottom: solid 0.2em #343A40;
	position: relative;
	max-width: 95%;
	margin: auto;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 97%;
	display: grid;
	grid-template-columns: 1fr auto;
}

.container2{
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	padding-bottom: 1em;
	padding-top: 2em;
}

.buttonsSentLeft {
	float: left;
}

.contactAnchors {
	list-style-type: none;
	padding: 0;
}

.contactAnchorsStyling {
	font-weight: bold;
	text-decoration: none;
	color: #343A40;
}

.contactAnchorsStyling:hover, 
.contactAnchorsStyling:active {
 	font-family: "Courier New", serif;
 	color: #000000;
	cursor: pointer;
}

.socialMediaButtons a{
	font-size: 2em;
	margin-bottom: 1em;
	color: #343A40;
	bottom: 0;
	width: 50%;
}

.socialMediaButtons a:hover, 
.socialMediaButtons a:active {
	color: #000000;
	cursor: pointer;
}

.myName {
	font-family: "Courier New", serif;
	color: #303030;
	float: right;
	font-size: 1.9em;
}

.paragraphs {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1em;
	margin-left: 15em;
	margin-right: 5%;
}

h2 {
	text-align: right;
	padding-top: 2em;
	color: #303030;
	font-size: 1.4em;
	padding-right: 0.2em;
	height: 48px;
	margin: 0;
}

.aboutMeText {
	font-family: "Arial", sans-serif;
	color: #343A40;
	overflow: auto;
	text-align: justify;
	padding-top: 0.5em;
	border-top: solid 0.1em #343A40;
	min-height: 300px;
}

.aboutMeText:hover,
.aboutMeText:active {
	color: #000000;
}

.logos {
	font-size: 2em;
	margin:0;
}
	
h3 {
	text-align: right;
	font-size: 1.6em;
	padding-left: 0.7em;
	padding-top: 1em;
	color: #303030;
	margin: 0.2em 0;
	border-bottom: solid 0.1em #343A40;
}	
	
.porfolioButtonsContainer {
	width: 97%;
	margin: auto;
	display: grid;
	gap: 0.2em;
	grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
	grid-auto-rows: 15em;
}

.portfolioButtons {
	box-sizing: border-box;
	padding: 0.3em;
	border: solid 0.01em #343A40;
	font-family: "Courier New", serif;
	background-repeat: no-repeat;
	background-size: 150%;
	background-position: center;
	color: transparent;
	text-align: left;
	font-size: 0.8em;
	text-align: justify;
}

.portTitles {
	font-size: 1.2em;
	margin: 0em;
}

#button1 {
	background-image: url(screenshots/cardgame.png);
}

#button1:hover {
	background: 
		linear-gradient(#343a409f, #343a409f), 
		url(screenshots/cardgame.png) no-repeat center;
	background-size: 150%;
}

#button1:hover .portLinks a{
	color: #DCDCDC;
	transition: all 0.5s ease-in-out;
}

#button2 {
	background-image: url(screenshots/nakedmoleflats.png);
}

#button2:hover {
	background: 
		linear-gradient(#343a409f, #343a409f), 
		url(screenshots/nakedmoleflats.png) no-repeat center;
	background-size: 150%;
}

#button2:hover .portLinks a{
	color: #DCDCDC;
	transition: all 0.5s ease-in-out;
}

#button3 {
	background-image: url(screenshots/spacex.png);
}

#button3:hover {
	background: 
		linear-gradient(#343a409f, #343a409f), 
		url(screenshots/spacex.png) no-repeat center;
	background-size: 150%;
}

#button3:hover .portLinks a{
	color: #DCDCDC;
	transition: all 0.5s ease-in-out;
}

#button4 {
	background-image: url(screenshots/battleofbiscuits.png);
}

#button4:hover {
	background: 
		linear-gradient(#343a409f, #343a409f), 
		url(screenshots/battleofbiscuits.png) no-repeat center;
	background-size: 150%;
}

#button4:hover .portLinks a{
	color: #DCDCDC;
	transition: all 0.5s ease-in-out;
}

#button5 {
	background-image: url(screenshots/jannyWebsite.png);
}

#button5:hover {
	background: 
		linear-gradient(#343a409f, #343a409f), 
		url(screenshots/jannyWebsite.png) no-repeat center;
	background-size: 150%;
}

#button5:hover .portLinks a{
	color: #DCDCDC;
	transition: all 0.5s ease-in-out;
}

#button6 {
	background-image: url(screenshots/zeroToPandas.png);
}

#button6:hover {
	background: 
		linear-gradient(#343a409f, #343a409f), 
		url(screenshots/zeroToPandas.png) no-repeat center;
	background-size: 150%;
}

#button6:hover .portLinks a{
	color: #DCDCDC;
	transition: all 0.5s ease-in-out;
}

#button7 {
	background-image: url(screenshots/placeholder.jpeg);
}

#button8 {
	background-image: url(screenshots/placeholder.jpeg);
}

.portfolioButtons:hover, 
.portfolioButtons:active {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	color: #DCDCDC;
	text-align: left;
	text-align: justify;
	transition: all 0.5s ease-in-out;
	font-family: "Arial", sans-serif
}

.portfolioButtons .portLinks a{
	color: transparent;
	font-size: 1.5em;
}

footer {
	margin-top: 1em;
	padding: 1em;
}

.textAdjust {
	margin-top: 1.8em;
	text-align: center;
	margin-bottom: 3em;
}

#astronaut {
	color: #022648;
}

#code {
	color: #AD2C3F;
}

#briefcase {
	color: #E4C396;
}

#biking {
	color: #7B997F;
}

#palette {
	color: #EF6F5A;
}

#gamepad {
	color: #343A40;
}

@media screen and (max-width: 1085px) and (min-width:770px) {	
	.paragraphs {
		display:block
	}

	h2 {
		height: 48px;
	}
	
	.aboutMeText {
		min-height: 0px;
	}
}

@media screen and (max-width: 770px) {
	body {
		max-width: 770px;
		margin: auto;
	}

	.contactDetails {
		width: 95%;
		margin: auto;
	}

	.container {
		display: inline;
	}

	.portfolioButtons {
		grid-column: span 2 / auto;
	}		
		
	.paragraphs {
		width: 94%;
		display: block;
		margin: auto;
	}
			
	.myName {
		float: right;
	}
	
	.pressHereAnchor {
		font-weight: 900;
		font-size: 2em;
	}

	h2 {
		height: 48px;
	}

	.aboutMeContent {
		background: linear-gradient(#f5ebe197,  #e2dad09f);
	}

	.aboutMeText {
		min-height: 0px;
	}
}

/* #astronaut {
	color: #26547C;
}

#code {
	color: #EF476F;
}

#briefcase {
	color: #FFD166;
}

#biking {
	color: #06D6A0;
}

#palette {
	color: #BF3ED6;
}

#gamepad {
	color: #343A40;
} */
